# From forked .gitignore
*.iml
.idea/
.aws-sam/

# forked artifacts
forked/packaged.yaml

# Dependencies
node_modules/
package-lock.json

# Developer Files
DeveloperNotes.md

# Local settings
.env

# build files
lib/